In [2]:
import numpy as np
import pandas as pd
from pycirclize import Circos

In [3]:
df = pd.read_excel('../data/br2f_topographic_data.xlsx', header=0, index_col=0)

In [4]:
# define left hemisphere
brain_regions = df.index.to_numpy()

left_hemisphere = brain_regions[:392]
df_left_hemisphere = df[left_hemisphere]
df_left_hemisphere = df_left_hemisphere.head(392)

## Hippocampal - Hindbrain connectivity plots

Next we will aggregate numerous subregions in larger regions and create plots for their connectivity with the hippocampus.

In [5]:
# construct regions

hippocampus_regions = np.array(['DG','CA3','CA2','CA1v','CA1d','SUBv','SUBd','PAR', 'PRE', 'POST'])

hindbrain_regions = np.array(['NI','LC','DTN'])

hind_hipp_regions = np.concatenate((hindbrain_regions, hippocampus_regions), axis=0)

In [8]:
# reduce the left hemisphere dataframe to only include hypothalamus and hippocampal regions
df_hind_hipp = df_left_hemisphere[hind_hipp_regions]
df_hind_hipp = df_hind_hipp[df_hind_hipp.index.isin(hind_hipp_regions)]

In [9]:
df_hind_hipp

       NI  LC  DTN  DG  CA3  CA2  CA1v  CA1d  SUBv  SUBd  PAR  PRE  POST
Abbr.
DG      0   0    0   0    6    0     0     0     0     0    0    0     0
CA3     0   0    0   3    0    6     6     6     3     3    0    0     0
CA2     0   0    0   4    4    0     4     0     3     0    2    0     0
CA1v    0   0    0   2    1    2     0     0     7     0    4    2     0
CA1d    0   0    0   2    0    0     0     0     0     7    1    2     0
SUBv    0   0    1   3    3    3     3     0     0     0    5    4     0
SUBd    0   0    1   2    3    0     0     4     0     0    0    0     4
PRE     0   0    0   2    2    2     2     2     4     4    4    0     4
POST    0   0    0   2    0    0     0     0     0     0    4    5     0
PAR     0   0    0   2    0    0     1     0     1     0    0    6     1
NI      0   0    1   2    2    0     2     0     2     1    1    2     1
DTN     2   0    0   0    0    0     0     0     0     0    0    0     0
LC      1   0    0   4    3    3     2     3     1     1    2    2     2

In [11]:
# remove self-connections (set diagonal to 0)
for i in range(len(df_hind_hipp.index)):
    df_hind_hipp.iloc[i,i] = 0

In [12]:
# we need to remove connections within the midbrain--
# we're only interested in hippocampal-midbrain connectivity

for subregion_i in range(len(hindbrain_regions)):
    for subregion_j in range(len(hindbrain_regions)):
        df_hind_hipp.loc[
        hindbrain_regions[subregion_i], 
        hindbrain_regions[subregion_j]
        ] = 0

In [13]:
df_hind_hipp

       NI  LC  DTN  DG  CA3  CA2  CA1v  CA1d  SUBv  SUBd  PAR  PRE  POST
Abbr.
DG      0   0    0   0    6    0     0     0     0     0    0    0     0
CA3     0   0    0   3    0    6     6     6     3     3    0    0     0
CA2     0   0    0   4    4    0     4     0     3     0    2    0     0
CA1v    0   0    0   0    1    2     0     0     7     0    4    2     0
CA1d    0   0    0   2    0    0     0     0     0     7    1    2     0
SUBv    0   0    1   3    3    0     3     0     0     0    5    4     0
SUBd    0   0    1   2    3    0     0     4     0     0    0    0     4
PRE     0   0    0   2    2    2     2     0     4     4    4    0     4
POST    0   0    0   2    0    0     0     0     0     0    4    5     0
PAR     0   0    0   2    0    0     1     0     1     0    0    6     1
NI      0   0    0   2    2    0     2     0     2     1    0    2     1
DTN     0   0    0   0    0    0     0     0     0     0    0    0     0
LC      0   0    0   4    3    3     2     3     1     1    2    2     0

In [14]:
#clear out intrinsic connections between hippocampus_regions
for subregion_i in range(len(hippocampus_regions)):
    for subregion_j in range(len(hippocampus_regions)):
        df_hind_hipp.loc[
        hippocampus_regions[subregion_i], 
        hippocampus_regions[subregion_j]
        ] = 0

In [15]:
df_hind_hipp

       NI  LC  DTN  DG  CA3  CA2  CA1v  CA1d  SUBv  SUBd  PAR  PRE  POST
Abbr.
DG      0   0    0   0    0    0     0     0     0     0    0    0     0
CA3     0   0    0   0    0    0     0     0     0     0    0    0     0
CA2     0   0    0   0    0    0     0     0     0     0    0    0     0
CA1v    0   0    0   0    0    0     0     0     0     0    0    0     0
CA1d    0   0    0   0    0    0     0     0     0     0    0    0     0
SUBv    0   0    1   0    0    0     0     0     0     0    0    0     0
SUBd    0   0    1   0    0    0     0     0     0     0    0    0     0
PRE     0   0    0   0    0    0     0     0     0     0    0    0     0
POST    0   0    0   0    0    0     0     0     0     0    0    0     0
PAR     0   0    0   0    0    0     0     0     0     0    0    0     0
NI      0   0    0   2    2    0     2     0     2     1    0    2     1
DTN     0   0    0   0    0    0     0     0     0     0    0    0     0
LC      0   0    0   4    3    3     2     3     1     1    2    2     0

In [16]:
df_final=df_hind_hipp

In [17]:
df_final=df_final.loc[:,~(df_final==0).all(axis=0)]

In [18]:
df_final=df_final.loc[~(df_final==0).all(axis=1),:]

In [19]:
df_final

       DTN  DG  CA3  CA2  CA1v  CA1d  SUBv  SUBd  PAR  PRE  POST
Abbr.
SUBv     1   0    0    0     0     0     0     0    0    0     0
SUBd     1   0    0    0     0     0     0     0    0    0     0
NI       0   2    2    0     2     0     2     1    0    2     1
LC       0   4    3    3     2     3     1     1    2    2     0

In [20]:
df_final.index

Index(['SUBv', 'SUBd', 'NI', 'LC'], dtype='object', name='Abbr.')

In [21]:
# df_final = df_final.T

In [22]:
# re-order columns for better presentation
# df_final = df_final.loc[[
# 'CA1v', 'CA1d','CA2','CA3','DG','SUBv', 'SUBd', 'PAR', 'PRE','POST','VTA','VRA','PAG','OMA'
# ]]

In [23]:
df_final

       DTN  DG  CA3  CA2  CA1v  CA1d  SUBv  SUBd  PAR  PRE  POST
Abbr.
SUBv     1   0    0    0     0     0     0     0    0    0     0
SUBd     1   0    0    0     0     0     0     0    0    0     0
NI       0   2    2    0     2     0     2     1    0    2     1
LC       0   4    3    3     2     3     1     1    2    2     0

In [25]:
circos_mid_hipp_extrinsic_only = Circos.initialize_from_matrix(df_final, space=5, cmap="jet")

circos_mid_hipp_extrinsic_only.savefig("../output/hippocampus_hindbrain_extrinsic_connectivity.svg")